/*Clases para los destintos horarios*/

/*Cielo según horario*/

.skyDawn {
  /*background-color: #F7472D;*/
  animation: sky_dawn 3s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.skyMorning {
  background-color: #43F2F4;
}

.skyEvening {
  background-color: #2DA2E5;
}

.skySunset {
  /*background-color: #F7005A;*/
  background: rgb(128,2,14);
  background: linear-gradient(45deg, rgba(255,107,0,1) 0%, rgba(196,12,85,1) 35%, rgba(128,2,14,1) 100%);
}

.skyNight {
  /*background-color: #010420;*/
  background: rgb(0,0,0);
    background: linear-gradient(-45deg, rgba(0,0,0,1) 0%, rgba(5,2,25,1) 7%, rgba(13,7,55,1) 75%, rgba(2,35,91,1) 100%);
}

/*Sol según horario*/

.sunDawn {
  animation: sun_dawn 3s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.sunMorning {
  top: 10%;
  right: 35%;
}

.sunEvening {
  animation: sun_evening 3s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.sunSunset {
  animation: sun_sunset 3s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.sunNight {
  opacity: 0;
}


/*Luna según horario*/
.moonDawn {
  animation: moon_dawn 3s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.moonMorning {
  top: 70%;
  left: 0%;
  opacity: 0;
}

.moonEvening {
  top: 30%;
  right: 0%;
  opacity: 0.2;
  transform: scale(0.5, 0.5); 
}

.moonSunset {
  animation: moon_sunset 3s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.moonNight {
  animation: moon_night 3s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

/*Flores según horario*/

.flowerDawn {
  bottom: -50px;
}

.flowerMorning {
  bottom: 0px;
}

.flowerEvening {
  bottom: 0px;
}

.flowerSunset {
  bottom: -50px;
}

.flowerNight {
  bottom: -100%;
}

/*Estrellas según horario*/

.starsDawn {
  opacity: 0.2;
}

.starsMorning {
  opacity: 0;
}

.starsEvening {
  opacity: 0;
}

.starsSunset {
  opacity: 0.5;
}

.starsNight {
  opacity: 1;
}

/*Pantalla datos*/

.screen {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #666;
  border-radius: 20px;
  opacity: 0.3;
  background-color: #000;
}

.screen_cont {
  width: 85%;
  height: 85%;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  object-fit: contain;
  font-family: 'Play', sans-serif;
  overflow: hidden;
  padding: 10px;
}

.w_icon {
  width: 60px;
  height: 60px;
  background-image: url('img/w_icons/night/116.png');
  background-size: contain;
  background-repeat: no-repeat;
}

.location {
  font-size: 1,5em;
  text-align: center;
  color: #FFF;
}

.deg_dato {
  font-size: 4em;
  text-align: center;
  margin-top: 5%;
  color: #FFF;
}

.time {
  font-size: 1em;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  color: #FFF;
}

.st_dato {
  font-size: 2em;
  text-align: center;
  color: #FFF;
  margin-top: 5%;
}

.sky_dato {
  font-size: 1,7em;
  text-align: center;
  color: #FFF;
  margin-top: 5%;
}

/*Animacion transciciones*/

@keyframes sky_dawn {
  0% {
    background: rgb(0,0,0);
    background: linear-gradient(135deg, rgba(0,0,0,1) 0%, rgba(5,2,25,1) 7%, rgba(13,7,55,1) 75%, rgba(2,35,91,1) 100%);
  }

  100% {
    background: rgb(128,2,14);
    background: linear-gradient(135deg, rgba(128,2,14,1) 0%, rgba(196,12,85,1) 35%, rgba(255,107,0,1) 100%);
  }
}

@keyframes moon_dawn {
  0% {
    top: 10%;
    left: 15%;
    opacity: 1;
  }

  100% {
    top: 30%;
    left: 0%;
    opacity: 0.5;
    transform: scale(0.8, 0.8); 
  }
}

@keyframes moon_sunset {
  0% {
    top: 50%;
    left: 75%;
    opacity: 0;
  }

  100% {
    top: 10%;
    left: 65%;
    opacity: 0.3;
  }
}

@keyframes moon_night {
  0% {
    top: 30%;
    left: 75%;
    opacity: 0;
    transform: scale(0.5, 0.5);
  }

  100% {
    top: 10%;
    left: 15%;
    opacity: 1;
    transform: scale(1, 1);
  }
}

@keyframes sun_dawn {
  0% {
    top: 110%;
    right: 0%;
    opacity: 0;
    transform: scale(0.8, 0.8); 
  }

  100% {
    top: 80%;
    right: 0%;
    opacity: 1;
    transform: scale(0.8, 0.8); 
  }
}

@keyframes sun_evening {
  0% {
    top: 50%;
    left: 80%;
    opacity: 0;
  }

  100% {
    top: 3%;
    left: 45%;
    opacity: 1;
  }
}

@keyframes sun_sunset {
  0% {
    top: 3%;
    left: 45%;
    opacity: 0;
  }

  100% {
    top: 70%;
    left: 0%;
    opacity: 1;
  }
}